body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
}

#live-date p {
    margin: 0;
}

#countdown {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
